In [ ]:
!pip install kora
import kora.install.rdkit
from rdkit import Chem
from rdkit.Chem import Draw
from rdkit.Chem import AllChem
import pandas as pd

In [ ]:
%cd drive/MyDrive

/content/drive/MyDrive

In [ ]:
df = pd.read_csv("chembl_cleaned.csv", delimiter = '\t')
df.head()

,Unnamed: 0,ChEMBL ID,Smiles
0,2,CHEMBL1598344,O=C(c1cccc(C(=O)N2CCN(Cc3ccccc3)CC2)c1)N1CCN(C...
1,4,CHEMBL1542218,CC1CCCC(NC(=O)CCCn2c(=S)[nH]c3ccccc3c2=O)C1C
2,5,CHEMBL2029363,COc1ccc(/C=C/C(=O)c2cccc(I)c2)cc1
3,6,CHEMBL3675081,CC(C)N(C)C(=O)Cc1cccc(CC(=O)Nc2nnc(CCCCc3ccc(N...
4,7,CHEMBL1454107,C=CCOC(=O)C(C#N)c1nc2ccccc2nc1N1CCN(c2ccccc2OC...

In [ ]:
from tqdm import tqdm

In [ ]:
df = df[:100000]

In [ ]:
smiles = []
df_len = len(df)
for i in tqdm(range(df_len)):
  smiles.append(Chem.MolFromSmiles(df.iloc[i]['Smiles']))

100%|██████████| 100000/100000 [00:43<00:00, 2280.40it/s]

In [ ]:
for i in tqdm(range(len(smiles))):
  Draw.MolToFile(smiles[i],'train_data/{}.png'.format(i))

100%|██████████| 100000/100000 [25:32<00:00, 65.27it/s]